@import "bootstrap/variables";
$navbar-accent: #86E2D5;
$flat-bg: rgba(255, 255, 255, 0.95);

.container-layout {
  margin-top:60px;
}
// centered bootstrap navbar
.navbar-custom {
  background: rgba(255, 255, 255, 0.95);
  border-color: $navbar-accent;
  border-width:0 0 3px;
  .navbar-nav {
    width: 100%;
    text-align: center;
    > li {
      float: none;
      display: inline-block;
    }
  }
  .custom-brand {
    font-size:1.3em;
  }
  ul.dropdown-menu {
    text-align: left;
  }
}

#flash_messages {
  border: 3px solid $navbar-accent;
  background: $flat-bg;
  min-height: 150px;
  position: fixed;
  top:50px;
  width:320px;
}
